<div class="container">
  <div class="row">
<br>
<!-- Title Box And Layout Design -->
<div class = "jumbotron jumbotron-fluid text-center bg-dark text-white mb-0">
  <div class = "container-fluid p-6">
    <h1 class = "display-6 font-weight-bold"> Tournaments </h1>
    <p class = "lead font-weight-bold"> View Or Update The Campus Tournaments! </p>
    <br>
    <!-- Button To Add A Tournament To The Database -->
      <a href="/itemlist/add" class="btn btn-primary" role="button">
      <i class="fa-solid fa-calendar-plus"></i> Add A Tournament   </a>
  <br>  
  <br>
  </div>
</div>